<div>
  <button *ngFor="let country of countryService.getAllCountries()"
          [id]="country.toString().toLowerCase().concat('Select')"
          (click)="selectCountry(country)">
    {{country}}
  </button>
</div>
