@import "src/styles";

div {
  @include align-content();
}

td {
  @include align-text();
  white-space: nowrap;
}

table, tr {
  border-collapse: collapse;
  border: lightgray 2px solid;
}

.winner {
  font-weight: bold;
}
