<div>
  <table>
    <ng-container *ngIf="teamStanding != null">
      <tr *ngFor="let singleTeamStanding of teamStanding">
        <td>
          <img class="icon" [src]="singleTeamStanding.teams.home.logo">
        </td>
        <td class="align-text-left"
            [ngClass]="{'winner': singleTeamStanding.teams.home.winner}">
          {{singleTeamStanding.teams.home.name}}
        </td>
        <td [ngClass]="{'winner': singleTeamStanding.teams.home.winner}">
          {{singleTeamStanding.goals.home}}
        </td>
        <td>  -  </td>
        <td [ngClass]="{'winner': singleTeamStanding.teams.away.winner}">
          {{singleTeamStanding.goals.away}}
        </td>
        <td [ngClass]="{'winner': singleTeamStanding.teams.away.winner}">
          {{singleTeamStanding.teams.away.name}}
        </td>
        <td>
          <img class="icon" [src]="singleTeamStanding.teams.away.logo">
        </td>
      </tr>
    </ng-container>
  </table>
</div>

<div>
  <button [id]="'btn-back'"
          (click)="navigateBack()">
    Back
  </button>
</div>
