/* You can add global styles to this file, and also import other style files */

@mixin align-content($alignment: center) {
  display: flex;
  justify-content: $alignment;
  align-items: $alignment;
}

@mixin align-text($alignment: right) {
  text-align: $alignment;
}

.align-text-left {
  @include align-text(left);
}

.align-text-center {
  @include align-text(center);
}

.icon {
  width: 25px;
  height: 25px;
}

button {
  min-width: 7.5%;
}
