<div>
  <table>
    <tr>
      <th></th>
      <th></th>
      <th>Name</th>
      <th>Games</th>
      <th>W</th>
      <th>L</th>
      <th>D</th>
      <th>GD</th>
      <th>Points</th>
    </tr>

    <ng-container *ngIf="leagueStanding != null">
      <tr *ngFor="let singleLeagueStanding of leagueStanding">
        <td>{{singleLeagueStanding.rank}}</td>
        <td>
          <img class="icon" [src]="singleLeagueStanding.team.logo">
        </td>
        <td class="align-text-left"
            (click)="openTeamView(singleLeagueStanding.team.id)">
          {{singleLeagueStanding.team.name}}
        </td>
        <td class="align-text-center">{{singleLeagueStanding.all.played}}</td>
        <td>{{singleLeagueStanding.all.win}}</td>
        <td>{{singleLeagueStanding.all.lose}}</td>
        <td>{{singleLeagueStanding.all.draw}}</td>
        <td>{{singleLeagueStanding.goalsDiff}}</td>
        <td>{{singleLeagueStanding.points}}</td>
      </tr>
    </ng-container>
  </table>
</div>
